#!/bin/bash
# called by Zabbix to report vpool space status

date=$(date +%s)

# Loop over VPools:

{% for item in vdo_pools.results %}
# Percentage use
perc=$(vdostats --si | grep {{ item.stdout }} | tr -s ' ' | cut -f 5 -d ' '| tr -d '%')
zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k vdo.[{{ item.stdout }}] -o $perc >/dev/null

{% endfor %}
